{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "jupytercluster.fullname" . }}
  labels:
    {{- include "jupytercluster.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- if kindIs "slice" .hosts }}
          {{- range .hosts }}
          - {{ . | quote }}
          {{- end }}
        {{- else }}
          {{- range .hosts }}
          - {{ . | quote }}
          {{- end }}
        {{- end }}
      {{- if .secretName }}
      secretName: {{ .secretName }}
      {{- end }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    {{- if kindIs "string" . }}
    - host: {{ . | quote }}
      http:
        paths:
          - path: {{ $.Values.ingress.path | default "/" }}
            pathType: {{ $.Values.ingress.pathType | default "Prefix" }}
            backend:
              service:
                name: {{ include "jupytercluster.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
    {{- else }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- if .paths }}
            {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "jupytercluster.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
            {{- end }}
          {{- else }}
          - path: {{ $.Values.ingress.path | default "/" }}
            pathType: {{ $.Values.ingress.pathType | default "Prefix" }}
            backend:
              service:
                name: {{ include "jupytercluster.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          {{- end }}
    {{- end }}
    {{- end }}
{{- end }}

